In [13]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense , Dropout

In [20]:
df = pd.read_csv('dress_rental_prices.csv' , index_col=0)
df.head()

,ID,Name,Brand,Colour,Catagories,Price
0,74416,Runway stripe dress,Stella McCartney,beige,dresses,111
1,73815,Reformation Kourtney Dress,Reformation,beige,dresses,50
2,73801,Ivory Viola bridal dress,Ghost,beige,dresses,75
3,73718,Pasu Dress - Rhino Tusk,Coucoo,beige,dresses,37
4,73605,Ellen,RIXO,beige,dresses,47

In [21]:
df.set_index('ID', inplace=True)

In [22]:
df

,Name,Brand,Colour,Catagories,Price
ID,,,,,
74416,Runway stripe dress,Stella McCartney,beige,dresses,111
73815,Reformation Kourtney Dress,Reformation,beige,dresses,50
73801,Ivory Viola bridal dress,Ghost,beige,dresses,75
73718,Pasu Dress - Rhino Tusk,Coucoo,beige,dresses,37
73605,Ellen,RIXO,beige,dresses,47
...,...,...,...,...,...
872,Silk and wool-blend crepe dress yellow,Victoria Beckham,yellow,"dresses, Smart, midi, Short Sleeve, Pencil, Mo...",102
871,La Guardia Matching Set,Faithfull The Brand,yellow,"dresses, Floral, Polka Dot, Loose, Smart Casua...",43
844,One-shoulder ruffled crepe mini dress,Solace London,yellow,"dresses, Vinyl-PVC-Synthetics, Smart, Formal, ...",75
592,Billie Dress,Rebecca Vallance,yellow,"dresses, Cotton-Jersey, Tie-Front, Skinny-Fit,...",42
231,Yellow Maddie Striped-knit Mini Dress,Melissa Odabash,yellow,"dresses, Wool-Cashmere, Horizontal Stripe, Cas...",32

In [23]:
brand_counts = df['Brand'].value_counts()
brand_counts

Brand
RIXO              2956
Self-Portrait     1913
Rat & Boa         1422
Ganni             1191
Reformation       1189
                  ...
Holland Cooper       1
Lado Bokuchava       1
Cara Cara NYC        1
Rabbit               1
March11              1
Name: count, Length: 931, dtype: int64

In [25]:
filtered_df = df[df['Brand'].isin(brand_counts[brand_counts >= 100].index)]
filtered_df = filtered_df.loc[filtered_df['Price'] < 200]
filtered_df

,Name,Brand,Colour,Catagories,Price
ID,,,,,
73815,Reformation Kourtney Dress,Reformation,beige,dresses,50
73801,Ivory Viola bridal dress,Ghost,beige,dresses,75
73605,Ellen,RIXO,beige,dresses,47
73583,Elena Dress Crystal Garden,Stine Goya,beige,dresses,64
73050,Isamaya Dress,Rat & Boa,beige,dresses,38
...,...,...,...,...,...
1283,THE MARY JANE in Sunflower,Realisation Par,yellow,"dresses, Vinyl-PVC-Synthetics, Winter, Seasona...",37
1246,Charlotte floral linen dress,Cult Gaia,yellow,"dresses, Cotton-Jersey, Floral, regular-fit, S...",72
1245,Cameron Floral-Print Satin Dress,Ganni,yellow,"dresses, Wrap, Seasonal, Maxi, Long Sleeve, V-...",33
871,La Guardia Matching Set,Faithfull The Brand,yellow,"dresses, Floral, Polka Dot, Loose, Smart Casua...",43
844,One-shoulder ruffled crepe mini dress,Solace London,yellow,"dresses, Vinyl-PVC-Synthetics, Smart, Formal, ...",75

In [26]:
colour_counts = filtered_df['Colour'].value_counts()
filtered_df = filtered_df[filtered_df['Colour'].isin(colour_counts[colour_counts >= 100].index)]

In [27]:
print('Number of unique Brands: ' + str(filtered_df['Brand'].nunique()))
print(filtered_df['Colour'].value_counts())
print('Remaining listings; ' + str(len(filtered_df)))

Number of unique Brands: 47
Colour
black     2998
multi     2843
blue      2503
pink      2292
green     2053
red       1612
white     1527
beige      719
yellow     623
purple     586
navy       547
orange     460
brown      442
cream      343
gold       277
silver     218
Name: count, dtype: int64
Remaining listings; 20043

In [28]:
filtered_df = filtered_df[['Brand', 'Colour', 'Price']]
filtered_df

                     Brand  Colour  Price
ID
73815          Reformation   beige     50
73801                Ghost   beige     75
73605                 RIXO   beige     47
73583           Stine Goya   beige     64
73050            Rat & Boa   beige     38
...                    ...     ...    ...
1283       Realisation Par  yellow     37
1246             Cult Gaia  yellow     72
1245                 Ganni  yellow     33
871    Faithfull The Brand  yellow     43
844          Solace London  yellow     75

[20043 rows x 3 columns]

In [29]:
archive_df = filtered_df

# One-hot encoding
filtered_df = pd.get_dummies(filtered_df, columns=['Brand', 'Colour'], drop_first=True)

In [30]:
filtered_df = filtered_df.astype(int)
filtered_df

,Price,Brand_16ARLINGTON,Brand_Aje,Brand_BA&SH,Brand_Bec & Bridge,Brand_Cult Gaia,Brand_De La Vali,Brand_Faithfull The Brand,Brand_For Love and Lemons,Brand_Free People,...,Colour_green,Colour_multi,Colour_navy,Colour_orange,Colour_pink,Colour_purple,Colour_red,Colour_silver,Colour_white,Colour_yellow
ID,,,,,,,,,,,,,,,,,,,,,
73815,50,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73801,75,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73605,47,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73583,64,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73050,38,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283,37,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1246,72,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1245,33,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
871,43,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
844,75,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [31]:
from sklearn.model_selection import train_test_split
X = filtered_df.drop(columns=['Price'])
y = filtered_df['Price']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [32]:
model = Sequential([
    Dense(256, activation='tanh', input_shape=(61,)),  # Input layer
    Dense(128, activation='relu'),                            # Hidden layer 1
    Dropout(0.1),                                            # Dropout layer 
    Dense(64, activation='relu'),                            # Hidden layer 2
    Dense(1)                         
])

c:\Users\rodea\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [33]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 256)            │        15,872 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 128)            │        32,896 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout (Dropout)               │ (None, 128)            │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 64)             │         8,256 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │            65 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 57,089 (223.00 KB)

 Trainable params: 57,089 (223.00 KB)

 Non-trainable params: 0 (0.00 B)

In [34]:
model.fit(X_train, y_train, epochs=200, batch_size=16, verbose=1)

Epoch 1/200
1003/1003 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.0000e+00 - loss: -799.6083
Epoch 2/200
1003/1003 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.0000e+00 - loss: -872.5017
Epoch 3/200
1003/1003 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.0000e+00 - loss: -866.3212
Epoch 4/200
1003/1003 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.0000e+00 - loss: -865.1497
Epoch 5/200
1003/1003 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.0000e+00 - loss: -870.6783
Epoch 6/200
1003/1003 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.0000e+00 - loss: -864.9648
Epoch 7/200
1003/1003 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.0000e+00 - loss: -862.7689
Epoch 8/200
1003/1003 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.0000e+00 - loss: -865.9395
Epoch 9/200
1003/1003 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.0000e+00 - loss: -862.0654
Epoch 10/200
 877/1003 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: -867.6835

: